 body {
text-align:center; 
font-family: Arial, serif; 
font-size:14px;
}

h1 {
 font-family: Arial, serif; 
font: 18px lighter;
}

h2 {
 font-family: Arial, serif; 
 font: 16px lighter;
 min-width: 320px;
}

a {
 display:inline-block;
 font-family: Arial, serif; 
 font-size: 16px; 
 line-height: 1.3;
 color:#06881e;
 padding:7px 2px;
 }
 
 a:hover {
  text-decoration:none;
   background-color: #d4ffce;
}
 a:active{
  border: none;
 }

img {
 clear:both;
 width:30%;
 height:30%; 
max-width:120px; max-height:120px;
min-width:50px; min-height:50px;}

p{
  margin: 0;
  text-indent: 20px;
}

.main-menu {
 font-size: 16px;  
 margin: 0;
    padding: 5px 0;
    list-style: none;
}

.main-menu li {
    display:inline-block;
    white-space: nowrap;
}

.main-menu a {
    color: #06661e;
}

.input-button{
    text-align: center;
border:1px solid transparent;
-webkit-border-radius:  5px; /* Safari 4 */
border-radius:  10px; 
margin:0px auto;
padding:10px;
cursor:pointer;
background-color: #c3ffbd;}

.manytext{
    text-align:justify;
    padding:10px;
    text-indent: 20px;
    width:inherit;
}

.buttons{
     margin-top: 10px;
}
.buttons input[type="button"]{
 height:45px;
 margin-left:8px;
 width:73px;
 text-align: center;
}
.btn{
 background-repeat: no-repeat;
 cursor:pointer;
 width: 73px;
 height:73px;
 margin:4px;
}
.btnAcorn{
 background-image:url("assets/acorn.png");
 }
 .btnGlider{
 background-image: url("assets/glider.png");
 }
 .btnR{
  background-image: url("assets/rpentomino.png");
}
