
body {text-align:center; font-family:Verdana; }
h3 {font: 22px lighter;font-family: Verdana;}
h4 {font: 18px lighter; font-family: Verdana;}
a:hover {text-decoration:none}
a {line-height: 1.3; margin-left:10px;margin-right:10px ; font-size:18px;  font-family: Verdana;}
img { clear:both; 
width:120px;height:120px;}

.navigation {
font-size: 18px;  
font-family: Verdana;
text-align: center;
clear:both; 
padding: 5px;

}

.input-button{  font-family: Verdana;
font-size: 18px;
text-align: center;
border:1px solid transparent;
-moz-border-radius:  5px; /* Firefox */
-webkit-border-radius:  5px; /* Safari 4 */
border-radius:  5px; /* IE 9, Safari 5, Chrome */
margin:0px auto;
padding:10px;
cursor:pointer;}

.main {
font-family:Verdana;
font-size:18px;
}

.human { 
    width: 300px; 
    padding: 5px;
    margin: 20px auto;
    
   }
.field{
     margin-left: 20%; 
     margin-right: 20%; 
}

