h3 {font: 20px lighter;}
a:hover {text-decoration:none}
a {line-height: 1.9 }
.input-button{
font-size: 14px;
text-align: center;
border:1px solid transparent;
-moz-border-radius:  5px; /* Firefox */
-webkit-border-radius:  5px; /* Safari 4 */
border-radius:  5px; /* IE 9, Safari 5, Chrome */
margin:0px auto;
padding:10px;
}



